---
# Environment variables

VPC_NAME: dev-test
VPC_REGION: us-east-1 # N.Virginia
VPC_CIDR: "10.0.0.0/16"
VPC_CLASS_DEFAULT: "10.0"
STATE: present
SG_STATE: present
ENVIRONMENT: dev

KEY_NAME: "test-key"

public_cidr_1: "{{ VPC_CLASS_DEFAULT }}.10.0/24"
public_az_1: "{{ VPC_REGION }}a"
public_cidr_2: "{{ VPC_CLASS_DEFAULT }}.20.0/24"
public_az_2: "{{ VPC_REGION }}b"
private_cidr_1: "{{ VPC_CLASS_DEFAULT }}.30.0/24"
private_az_1: "{{ VPC_REGION }}a"
private_cidr_2: "{{ VPC_CLASS_DEFAULT }}.40.0/24"
private_az_2: "{{ VPC_REGION }}b"

# Ubuntu AMI specific variables
AMI_NAME: "ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server*"
AMI_OWNER: "099720109477"

# ebs related variable
EBS_DEVICE_NAME: "/dev/xvdb"
EBS_DEVICE_VOL_SIZE: "2"
EBS_DEVICE_VOL_NAME: "app-vol"
EBS_MOUNTPOINT: "/data"

# EC2 instances specific variables
SERVER_ROLE: web
EC2_INSTANCE_TYPE: t2.nano
EC2_SECURITY_GROUP_NAME:
  - "{{ VPC_NAME }}-{{ SSH_SG_NAME }}"
  - "{{ VPC_NAME }}-{{ WEB_SG_NAME }}"
EC2_VOLUME_SIZE: 10
EC2_COUNT: 1
EC2_SUBNET_ID: "{{ pubsub1id }}"

# terminate instance
INSTANCE_TAGNAME: "dev-test-web-02"

# Security Groups
EC2_SECURITY_GROUPS: "{{ SSH_SG + WEB_SG }}"

# EC2 Security Groups specific variables
WEB_SG_NAME: "webserver-sg"
DATABASE_SG_NAME: "rds-sg"
SSH_SG_NAME: "ssh-sg"
ELB_SG_NAME: "elb-sg"

# Secrity Groups info(Name, Description and Rules) for Web, RDS and ELB
SSH_SG:
  - name: "{{ VPC_NAME }}-{{ SSH_SG_NAME }}"
    description: "This sg is for remote access to instances inside {{ VPC_NAME }} VPC"
    rules:
      - proto: tcp
        from_port: 22
        to_port: 22
        cidr_ip: 0.0.0.0/0

WEB_SG:
  - name: "{{ VPC_NAME }}-{{ WEB_SG_NAME }}"
    description: "This sg is for web instances inside {{ VPC_NAME }} VPC"
    rules:
      - proto: tcp
        from_port: 80
        to_port: 80
        cidr_ip: 0.0.0.0/0
      - proto: tcp
        from_port: 443
        to_port: 443
        cidr_ip: 0.0.0.0/0
# DATABASE_SG:
#   - name: "{{ VPC_NAME }}-{{ DATABASE_SG_NAME }}"
#     description: "This sg is for rds instances inside {{ VPC_NAME }} VPC"
#     rules:
#       - proto: tcp
#         from_port: 3306
#         to_port: 3306
#         group_name: "{{ VPC_NAME }}-{{ WEB_SG_NAME }}"

# ELB_SG:
#   - name: "{{ VPC_NAME }}-{{ ELB_SG_NAME }}"
#     description: "This sg is for ELB inside {{ VPC_NAME }} VPC"
#     rules:
#       - proto: tcp
#         from_port: 80
#         to_port: 80
#         cidr_ip: 0.0.0.0/0
