---
- name: Gather information about any instance
  ec2_instance_info:
    region: "{{ vpc_region }}"
    filters:
      "tag:Name": "{{ instance_tagName }}"
      instance-state-name: ["running"]
  register: ec2_info

- name: displaying output
  debug: msg="{{item.instance_id}}"
  with_items: "{{ec2_info.instances}}"

- name: terminate instance
  ec2:
    instance_ids: "{{item.instance_id}}"
    region: "{{ vpc_region }}"
    state: absent
    wait: yes
  with_items: "{{ec2_info.instances}}"
