---
- name: Gather information about any instance with a tag key Name and value
  ec2_instance_info:
    region: "{{ vpc_region }}"
    filters:
      "tag:Name": "{{ vpc_name }}-{{ server_role }}"
  register: ec2_info

- name: Print information about the instance
  debug: var=ec2_info

- block:
    - name: creating mount point (directory)
      file:
        state: directory
        path: "{{ebs_mountpoint}}"
      become: yes

    - name: formatting the volume
      filesystem:
        dev: "{{ebs_device_name}}"
        fstype: ext4

    - name: mounting the filesystem
      mount:
        path: "{{ebs_mountpoint}}"
        backup: yes
        src: "{{ebs_device_name}}"
        fstype: ext4
        state: mounted

  become: yes
  delegate_to: "{{ ec2_info.instances[0].public_ip_address }}"
