---
- name: Search for the latest AMI
  ec2_ami_info:
    region: "{{ vpc_region }}"
    owners: "{{ ami_owner }}"
    filters:
      name: '{{ ami_name | default("ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server*") }}'
  register: ami_find_result

- name: "Pick latest AMI"
  set_fact:
    ami_find: "{{ ami_find_result.images | sort(attribute='creation_date', reverse = True) }}"

- name: Create a new EC2 key pair
  ec2_key:
    name: "{{ key_name }}"
    region: "{{ vpc_region }}"
  register: ec2_key

- name: Create a key directory if it does not exist
  file:
    path: ./keys
    state: directory
    mode: "0755"

- name: Save private key
  copy: content="{{ ec2_key.key.private_key }}" dest="./keys/{{ key_name }}.pem" mode=0600
  when: ec2_key.changed

- name: Create EC2 Instance(s)
  ec2:
    region: "{{ vpc_region }}"
    group: "{{ ec2_security_group_name }}"
    key_name: "{{ key_name }}"
    instance_type: "{{ ec2_instance_type }}"
    image: "{{ ami_find[0].image_id }}"
    vpc_subnet_id: "{{ ec2_subnet_id }}"
    assign_public_ip: yes
    wait: True
    wait_timeout: 600
    instance_tags:
      Name: "{{ vpc_name }}-{{ server_role }}"
    volumes:
      - device_name: /dev/sda1
        volume_type: gp2
        volume_size: "{{ ec2_volume_size }}"
        delete_on_termination: yes
    exact_count: 1
    count_tag:
      Name: "{{ vpc_name }}-{{ server_role }}"
  register: ec2

- ec2_vol:
    instance: "{{ item.id }}"
    region: "{{ vpc_region }}"
    name: "{{ebs_device_vol_name}}"
    volume_size: "{{ebs_device_vol_size}}"
    device_name: "{{ebs_device_name}}"
  loop: "{{ ec2.instances }}"
  register: ec2_vol

- name: Add the newly created EC2 instance(s) to the local host group (located inside the directory)
  local_action:
    module: lineinfile
    dest: "./hosts"
    regexp: "{{ item.public_ip }}"
    insertafter: "[webserver]"
    line: "{{ item.public_ip }}"
  with_items: "{{ ec2.instances }}"

- name: actively mount and configure ebs volume in /etc/fstab
  include_tasks: ebs_mount.yml

- name: WebServer | Wait for SSH to come up
  local_action:
    module: wait_for
    host: "{{ item.public_ip }}"
    port: 22
    state: started
  with_items: "{{ ec2.instances }}"

- name: Create SSH Group to login dynamically to EC2 Instance(s)
  add_host:
    hostname: "{{ item.public_ip }}"
    groupname: webserver
  with_items: "{{ ec2.instances }}"
