---
- name: Search for the latest AMI
  ec2_ami_info:
    region: "{{ vpc_region }}"
    owners: "{{ ami_owner }}"
    filters:
      name: '{{ ami_name | default("ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server*") }}'
  register: ami_find_result

- name: "Pick latest AMI"
  set_fact:
    ami_find: "{{ ami_find_result.images | sort(attribute='creation_date', reverse = True) }}"

- name: Create a new EC2 key pair
  ec2_key:
    name: "{{ key_name }}"
    region: "{{ vpc_region }}"
  register: ec2_key

- name: Save private key
  copy: content="{{ ec2_key.key.private_key }}" dest="./keys/{{ key_name }}.pem" mode=0600
  when: ec2_key.changed

- name: Create EC2 Instance(s)
  ec2:
    region: "{{ vpc_region }}"
    group: "{{ ec2_security_group_name }}"
    key_name: "{{ key_name }}"
    instance_type: "{{ ec2_instance_type }}"
    image: "{{ ami_find[0].image_id }}"
    vpc_subnet_id: "{{ ec2_subnet_id }}"
    assign_public_ip: yes
    wait: True
    wait_timeout: 600
    instance_tags:
      Name: "{{ vpc_name }}-{{ server_role }}"
    volumes:
      - device_name: /dev/sda1
        volume_type: gp2
        volume_size: "{{ ec2_volume_size }}"
        delete_on_termination: yes
    exact_count: 1
    count_tag:
      Name: "{{ vpc_name }}-{{ server_role }}"
  register: ec2

- ec2_vol:
    instance: "{{ item.id }}"
    region: "{{ vpc_region }}"
    name: "{{ebs_device_vol_name}}"
    volume_size: "{{ebs_device_vol_size}}"
    device_name: "{{ebs_device_name}}"
  loop: "{{ ec2.instances }}"
  register: ec2_vol

- name: Printing the volume information
  debug: var=ec2_vol

- name: add_host to run time inventory
  add_host:
    name: "{{ add_host.name | default(web) }}"
    hostname: "{{ add_host.hostname | default(item.public_ip) }}"
    ansible_host: "{{ add_host.ansible_host |  default(item.public_ip) }}"
    ansible_user: "{{ add_host.ansible_user |  default(ubuntu) }}"
    ansible_connection: "ssh"
    ansible_ssh_private_key_file: "./keys/test-key.pem"
    ansible_python_interpreter: "/usr/bin/python3"
  with_items: "{{ ec2.instances }}"

- name: actively mount and configure ebs volume in /etc/fstab
  include_tasks: ebs_mount.yml

- name: Wait for the instances to boot by checking the ssh port
  wait_for: host={{item.public_ip}} port=22 delay=15 timeout=300 state=started
  with_items: "{{ ec2.instances }}"
